<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
                .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            text-align: center;
            background-color: #add8e6;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: rgb(61, 4, 126);
            font-family: "Arial", sans-serif;
        }

        
    </style>
</head>
<body>
    <div class="container">
    <h1>Cadastro Realizado com Sucesso</h1>
    <p>Olá {{username}}, seu cadastro na plataforma TodoList foi realizado com sucesso. Agora você pode começar a organizar suas tarefas e aumentar sua produtividade!</p>

    <p>Agradecemos por escolher a nossa plataforma. Se você tiver alguma dúvida ou precisar de assistência, não hesite em entrar em contato conosco.</p>
    <p>Atenciosamente,</p>
    <p>A Equipe TodoList</p>
    </div>
</body>
</html>
